<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn" internalLogToConsole="true" internalLogFile="nlog.internal.log"
      internalLogIncludeTimestamp="true">

    <extensions>
        <add assembly="NLog.Web" />
        <add assembly="Cian.Logging" />
    </extensions>

    <variable name="messageOrExceptionMessage" value="${message}${onexception:\: ${exception:format=message}}" />
    <variable name="messageOrFullException" value="${message}${onexception:${newline}${exception:format=tostring}${newline}${exception:format=data}}" />

    <variable name="logsDirectory" value="${basedir}\.logs" />

    <targets async="true">

        <target name="Console"
                xsi:type="Console"
                layout="${date:format=dd.MM.yyyy HH\:mm\:ss} | ${level:uppercase=true} | ${logger} | ${machinename} | ${aspnet-request-host} | ${aspnet-request-url} | ${aspnet-user-identity} | ${aspnet-request:item=HTTP_URL} | ${aspnet-request:item=REMOTE_ADDR} | ${messageOrExceptionMessage}" />
        
        <target name="File"
                type="File"
                encoding="UTF-8"
                fileName="${logsDirectory}\app.log"
                deleteOldFileOnStartup="true"
                layout="${date:format=dd.MM.yyyy HH\:mm\:ss} | ${level:uppercase=true} | ${logger} | ${machinename} | ${aspnet-request-host} | ${aspnet-request-url} | ${aspnet-user-identity} | ${aspnet-request:item=HTTP_URL} | ${aspnet-request:item=REMOTE_ADDR} | ${messageOrExceptionMessage}" />

        <target name="ProfilerFile"
                xsi:type="File"
                encoding="UTF-8"
                fileName="${logsDirectory}\profiler.json"
                deleteOldFileOnStartup="true"
                replaceFileContentsOnEachWrite="true"
                layout="${message}" />
    </targets>

    <rules>
        <logger name="Profiler" writeTo="ProfilerFile" final="true" />
        <logger name="Application" writeTo="File" />
        <logger name="*" writeTo="Console" />
    </rules>

</nlog>