<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test" connectionString="server=.\TEST; database=master; Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sandbox.Properties.Settings.masterConnectionString"
            connectionString="Data Source=.\test;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>